<footer>
  <small class="center-txt">
    &copy; 2020 | <a href="/">San Antonio Manufacturers Association</a> Website by <a href="https://www.bensondesign.com">Benson Design</a>.
  </small>
</footer>
