<nav class="support-nav">
        <ul class="reset-list">
            <li><a href="#"><i class="fa fa-newspaper" aria-hidden="true"></i> News</a></li>
            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Membership</a></li>
            <li><a href="#"><i class="fa fa-virus" aria-hidden="true"></i> COVID-19</a></li>
            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a></li>
            <li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i> Sponsorship</a></li>
        </ul>
    </nav>